h3(class="text-center") Mas enquanto isso você já pode contribuir:

div(class="row")
	div(class="columns small-12 medium-6 medium-centered text-center")
		a(class="main button round", href="http://www.prefeitura.sp.gov.br/cidade/secretarias/desenvolvimento_urbano/funcao_social_da_propriedade/index.php?p=172071", target='_blank')
			i(class="icon-interrogacao")
			span QUERO ENTENDER MAIS SOBRE A FUNÇÃO SOCIAL DA PROPRIEDADE