@import "../bower_components/foundation/scss/normalize";

$cinza: #CBCBCB;
$verde_claro: #CCCC33;
$verde_escuro: #333416;
$verde_amarelado: #ABA935;

@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../../public/icons/styles";
@import "../../public/fonts/styles";

body {
	background: 50% 25% url(../images/bg.png) $verde_claro no-repeat;
}

@media #{$small-only} {
	body {
		background-position: 50% 75%;
	}
}

.row.full {
	max-width: none;
}

.header {
	background: top left url(../images/bg-header.png) repeat;

	h1 {
		font-size: 18px;
		line-height: 18px;
		margin: 14px 0;
	}

	img {
		vertical-align: top;
		margin-top: 14px;
	}

	hr {
		border-top: 2px solid #fff;
		margin: 0 15px;
	}

	.voltar {
		color: $cinza;
		font-size: 18px;
		line-height: 18px;
		padding: 15px;
		//margin: 0 0 0 65px;
		display: inline-block;

		border: 1px solid $cinza;
		border-top: 0;
		border-bottom: 0;

		:hover {
			color: darken($cinza, 20%);
		}
	}

	#compartilhar {
		margin: 15px 0;

		a {
			font-size: 18px;
			line-height: 18px;
			margin: 0 15px;
		}
	}
}

.title {
	background-color: rgba( 51, 52, 22,.75);
	padding: 15px 0;
	h2 {
		margin: 0;
		color: #fff;
		font-size: 17px;
		line-height: 22px;

		i {
			display: block;
			font-size: 40px;
			line-height: 30px;
			margin-bottom: 10px;
		}
	}
}

h3 {
	color: $verde_escuro;
	font-size: 14px;
	line-height: 14px;
	margin: 15px 0;
}


.main.button {

	border-radius: 15px;

	box-shadow: 4px 4px 0 0 $verde_escuro;

	background-color: #fff;
	color: $verde_escuro;

	margin-bottom: rem-calc(15);
	width: rem-calc(280);
	padding: rem-calc(5);
	font-size: rem-calc(12);
	line-height: rem-calc(16);
	text-align: left;

	span {
		display: inline-block;
		width: 80%;
		margin-left: rem-calc(10);
	}

	i {
		vertical-align: top;
		text-align: center;
		display: inline-block;
		padding: rem-calc(5);
		border: 1px solid $verde_escuro;
		border-radius: rem-calc(50);
		font-size: rem-calc(18);
	}
}


.content {
	background-color: #fff;
}

div.switch {
	label {
		display: inline-block;
	}
	span {
		display: inline-block;
		vertical-align: top;
		padding: rem-calc(10) 0 0 rem-calc(10);
	}
}

h4 {
	color: $verde_escuro;
	font-size: rem-calc(12);
	margin: rem-calc(15) 0;
	span {
		display: inline-block;
		margin: rem-calc(5) 0 0 rem-calc(10);
	}

	i {
		vertical-align: top;
		text-align: center;
		display: inline-block;
		padding: rem-calc(5);
		border: 1px solid $verde_escuro;
		border-radius: rem-calc(50);
		font-size: rem-calc(18);
	}
}