extends layout

block content
    .content
        .row
            .columns.small-12
                h4(class="text-center")
                    i(class="icon-megafone")
                    span RELATÓRIO DE CONTRIBUIÇÕES
                if msg
                    p.alert-box.alert #{msg}

        h3 Lista de
        p teste