extends layout

block content
	div(class="title small-12 columns")
		
		h1 
			i(class="icon-celular_estrelas")
			| Ei, a gente está elaborando um app colaborativo para promover a função social dos imóveis de São Paulo! 

	h1= title
	p Welcome to #{title}
