extends layout

block content
	include ./includes/introducao.jade
		a(class="main button round" href="/funcao-social/contribuir")
			i(class="icon-megafone")
			span SEI DE UM IMÓVEL OCIOSO E QUERO CONTRIBUIR 