doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="header row full")
            div(class="columns small-12 medium-4")
                img(src="/images/logo-gestao-urbana.png", alt="Gestão Urbana - Fazer juntos a São Paulo que a gente quer.")
                a(class="voltar right")
                    i(class="icon-seta_dupla_voltar")
            
            hr(class="show-for-small-only")

            div(class="columns small-6 medium-5")
                h1 Função Social

            div(class="columns small-6 show-for-small-only")
                a(class="voltar right")
                    i(class="icon-seta_compartilhar")

            div(class="columns show-for-medium-up medium-3")
                div(id="compartilhar", class="text-right", data-url="http://gestaourbana.prefeitura.sp.gov.br/funcao-social/",data-text="Faça sua contribuição")

        div(class="title row full")
            div(class="medium-centered medium-6 small-12 columns") 
                h2(class="text-center")
                    i(class="icon-celular_estrelas")
                    | Ei, a gente está elaborando um app colaborativo para promover a função social dos imóveis de São Paulo! 
        
        block content

        script(src='/javascripts/bundle.js')