extends layout

block content
	include ./includes/introducao.jade
		a(class="main button round" href="/contribuir")
			i(class="icon-megafone")
			span SEI DE UM IMÓVEL OCIOSO E QUERO CONTRIBUIR 

		p.alert-box.success 
			!= msg