@font-face {
	font-family: 'funcao-social';
	src:url('fonts/funcao-social.eot?-yddyxe');
	src:url('fonts/funcao-social.eot?#iefix-yddyxe') format('embedded-opentype'),
		url('fonts/funcao-social.woff?-yddyxe') format('woff'),
		url('fonts/funcao-social.ttf?-yddyxe') format('truetype'),
		url('fonts/funcao-social.svg?-yddyxe#funcao-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'funcao-social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\e600";
}
.icon-times:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-google-plus:before {
	content: "\e604";
}
.icon-celular_estrelas:before {
	content: "\e605";
}
.icon-interrogacao:before {
	content: "\e606";
}
.icon-megafone:before {
	content: "\e607";
}
.icon-seta_compartilhar:before {
	content: "\e608";
}
.icon-seta_dupla_voltar:before {
	content: "\e609";
}
